<div class="box rounded-3 p-4 mx-auto">
    <h2 class="mb-4 text-center">Login</h2>
    <hr>
    <div class="w-75 mx-auto">
        <form [formGroup]="loginForm" (ngSubmit)="getLoginForm()">
            <div>
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" formControlName="username">
                <p class="error"
                    *ngIf="loginForm.get('username')?.hasError('required') && loginForm.get('username')?.touched">
                    Required entry field
                </p>
            </div>
            <div>
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" formControlName="password">
                <p class="error"
                    *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
                    Required entry field
                </p>
            </div>
            <div class="mt-4 d-flex justify-content-between">
                <button class="btn btn-secondary" routerLink="/register">Go to register</button>
                <input class="btn btn-secondary" type="submit" value="Login" [disabled]="!loginForm.valid">
            </div>
        </form>
    </div>
</div>